@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;1,100&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');


:root {
    --fonte01:'Island Moments', cursive;
    --fonte02: 'Open Sans', sans-serif;
    --fonte03: 'Raleway', sans-serif;
    --fonte04: 'Sriracha', cursive;

    --fonte-normal: 'Roboto', 'sans-serif';
    --fonte-site: 'Merienda', cursive;
}

/* configurações gerais: feito para resetar as configurações padrão */ 

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte-normal);
}

header {
    background-color: black;
    color: white;
    text-align: center;
    /* duas maneiras de colocar as letras em maíusculas:
    text-tranform: uppercase
    font-variant: small-caps*/
    font-variant: small-caps;
}

header h1 {
    padding-top: 50px;
    font-family: var(--fonte02);
    font-size: 10vw;
}

header p {
    padding-bottom: 50px;
    font-weight: bold;
}

header a, footer a {
    color: white;
    text-decoration: none;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    /* ao configurarmos o padding com view port (altura de acordo com o tamanho da tela) ganhamos flexibilidade para aumentar e diminuir a tela */
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 40px;
    line-height: 2em;
    font-family: var(--fonte-site);
    font-size: 5vw;
}

section.normal {
    background-color: white;
    color: black;
}


section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.473);
    background-size: cover;
    /* fixando a imagem na tela apos rolagem */ 
    background-attachment: fixed;
    background-position: right center;
}

section.imagem > p {
    /* transformando e uma caixa ganhamos a flexibilidade do tamanho da caixa*/
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.514);
    /* sombra nas letras */
    text-shadow: 1px 1px 0px black;

}

section#img01 {
    background-image: url('../imagens/background001.jpg');

}

section#img02 {
    background-image: url('../imagens/background002.jpg');
}

section > p {
    padding-bottom: 2em;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
