@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

img {
    width: 100vw;
}

/* configurações da barra de rolagem, no caso tirar ela */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

a {
    display: block;
    background-color: darkred;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    background-color: red;
}