@charset "UTF-8";

body {
    background-color: lightblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
}

h1 {
    color:aquamarine;
    background-color: rebeccapurple;
}

h2 {
    color:darkred;
}

p {
    text-align: justify;
}